<div class="editor-page">
  <div class="container my-3">
    <div class="row justify-content-center">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <h1 class="text-center my-5">Write an Article</h1>
        <app-list-errors [errors]="errors"></app-list-errors>

        <form [formGroup]="articleForm">
          <fieldset [disabled]="isSubmitting">
            <div class="mb-3">
              <input
                class="form-control form-control-lg"
                formControlName="title"
                type="text"
                placeholder="Article Title"
              />
            </div>

            <div class="mb-3">
              <input
                class="form-control"
                formControlName="description"
                type="text"
                placeholder="What's this article about?"
              />
            </div>

            <div class="mb-3">
              <textarea
                class="form-control"
                formControlName="body"
                rows="8"
                placeholder="Write your article (in markdown)"
              ></textarea>
            </div>

            <div class="mb-3">
              <input
                class="form-control"
                type="text"
                placeholder="Enter tags"
                [formControl]="tagField"
                (keyup.enter)="addTag()"
              />
              <div class="tag-list mt-2">
                <!-- Tags Loop -->
                @for (tag of tagList; track tag) {
                  <span class="badge bg-secondary me-2">
                    <i class="bi bi-x-circle" (click)="removeTag(tag)"></i> {{ tag }}
                  </span>
                }
              </div>
            </div>

            <button
              class="btn btn-lg btn-primary float-end"
              type="button"
              (click)="submitForm()"
            >
              Publish Article
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
