<div class="auth-page">
  <div class="container my-3">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <h1 class="text-center">{{ title }}</h1>
        <p class="text-center">
          <!-- Conditional rendering for login/register links -->
          @if (authType === "register") {
            <a [routerLink]="['/login']">Have an account?</a>
          }
          @if (authType === "login") {
            <a [routerLink]="['/register']">Need an account?</a>
          }
        </p>
        <app-list-errors [errors]="errors" />
        <form [formGroup]="authForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            
            <!-- Conditional username field for registration -->
            @if (authType === "register") {
              <fieldset class="mb-3">
                <input
                  formControlName="username"
                  placeholder="Username"
                  class="form-control form-control-lg"
                  type="text"
                  autocomplete="username"
                />
              </fieldset>
            }

            <!-- Email field -->
            <fieldset class="mb-3">
              <input
                formControlName="email"
                placeholder="Email"
                class="form-control form-control-lg"
                type="email"
                autocomplete="email"
              />
            </fieldset>

            <!-- Password field -->
            <fieldset class="mb-3">
              <input
                formControlName="password"
                placeholder="Password"
                class="form-control form-control-lg"
                type="password"
                autocomplete="current-password"
              />
            </fieldset>

            <!-- Submit button -->
            <button
              class="btn btn-lg btn-primary w-100"
              [disabled]="!authForm.valid"
              type="submit"
            >
              {{ title }}
              <i class="bi bi-send ms-2"></i> <!-- Bootstrap Icon for login -->
            </button>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
