<div class="settings-page">
  <div class="container my-3">
    <div class="row justify-content-center">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <h1 class="text-center my-5">Your Settings</h1>

        <app-list-errors [errors]="errors" />

        <form [formGroup]="settingsForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <!-- Profile picture URL -->
            <div class="mb-3">
              <input
                class="form-control"
                type="text"
                placeholder="URL of profile picture"
                formControlName="image"
              />
            </div>

            <!-- Username -->
            <div class="mb-3">
              <input
                class="form-control form-control-lg"
                type="text"
                placeholder="Username"
                formControlName="username"
                autocomplete="username"
              />
            </div>

            <!-- Bio -->
            <div class="mb-3">
              <textarea
                class="form-control form-control-lg"
                rows="8"
                placeholder="Short bio about you"
                formControlName="bio"
              ></textarea>
            </div>

            <!-- Email -->
            <div class="mb-3">
              <input
                class="form-control form-control-lg"
                type="email"
                placeholder="Email"
                formControlName="email"
                autocomplete="email"
              />
            </div>

            <!-- Password -->
            <div class="mb-3">
              <input
                class="form-control form-control-lg"
                type="password"
                placeholder="New Password"
                formControlName="password"
                autocomplete="new-password"
              />
            </div>

            <!-- Submit button -->
            <button class="btn btn-lg btn-primary float-end" type="submit">
              Update Settings
            </button>
          </fieldset>
        </form>

        <hr />

        <!-- Logout button -->
        <button class="btn btn-outline-danger w-100" (click)="logout()">
          Or click here to logout.
        </button>
      </div>
    </div>
  </div>
</div>
